.timeTracker {
  margin: 50px;
}

.time {
  padding-right: 5px;
}

.timerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  padding-left: 30px;
}

.taskWrapper {
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 1px #596e79;
  border: 1px solid #6b828f;
  border-radius: 4px;
  justify-content: space-between;
  padding: 1em;
  height: 60px;
  border-bottom: none;
}

.timer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.timeText {
  padding-right: 5px;
}
